@import url('https://fonts.googleapis.com/css2?family=ADLaM+Display&family=Sora:wght@100..800&display=swap');

.font-sora {
   font-family: "Sora", serif;
}

.font-adLamDisplay {
   font-family: "ADLaM Display", serif;
}

/* .container {
   max-width: 1320px !important;
   margin-left: auto !important;
   margin-right: auto !important;
} */
